@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur le site Express Voitures</h1>
    <p>Découvrez nos meilleures occasions !</p>
    <img class="img-accueil" src="/img/Garage.png" alt="Des voitures dans un garage." />
</div>
